<div class="container-fluid" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-3">
            <form [formGroup]='forgotPasswordForm' (ngSubmit)="forgotPasswordForm.valid && onSubmit()">
                <h2 class="zigi text-center text-primary">Forgot password</h2>
                <app-text-input [formControl]='forgotPasswordForm.controls["email"]' 
                    [label]='"Email"'></app-text-input>
                 
                <div class="form-group text-center">
                    <button [disabled]='!forgotPasswordForm.valid' 
                    class="btn btn-success mr-2" type="submit">Submit</button>
                </div>
            </form>
            </div>
            </div>
            </div>

