<div class="container-fluid" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-3">
            <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && onSubmit()">
                <h2 class="text-center text-primary">Register as a Doctor</h2>
                <hr>           
                <app-text-input [formControl]='registerForm.controls["username"]' 
                    [label]='"Username"'></app-text-input>
                <app-text-input [formControl]='registerForm.controls["firstName"]' 
                    [label]='"First Name"'></app-text-input>
                <app-text-input [formControl]='registerForm.controls["lastName"]' 
                    [label]='"Last Name"'></app-text-input>
                <app-text-input [formControl]='registerForm.controls["email"]' 
                    [label]='"Email"'></app-text-input>
                <app-text-input [formControl]='registerForm.controls["password"]' 
                    [label]='"Password"' [type]='"password"'>
                </app-text-input>
                <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
                    [label]='"Confirm Password"'
                    [type]='"password"'></app-text-input>
            
                <div class="row" *ngIf="errors?.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            
                <div class="form-group text-center">
                    <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
                </div>
            </form>
            </div>
            </div>
            </div>

