<!-- <rating *ngFor="let i of stars; let index = index"
(mouseenter)="handleMouseEnter(index)"
(mouseleave)="handleMouseLeave()"
        (click)="rate(index)"
        [ngClass]="{checked: selectedRate > index}"
>
    </rating>  -->
    <div *ngFor="let star of stars; let index = index" 
    (click)="rate(index)"
    [ngClass]="{checked: selectedRate > index}"
    (mouseenter)="handleMouseEnter(index)"
(mouseleave)="handleMouseLeave()"
    style="display: inline-block; cursor: pointer;">
        <i class="fa fa-star"></i>

    </div>

   