<div class="container-fluid" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-3">
            <form [formGroup]='resetPasswordForm' (ngSubmit)="resetPasswordForm.valid && onSubmit()">
                <h2 class="zigi text-center text-primary">Reset password</h2>
                <app-text-input [formControl]='resetPasswordForm.controls["password"]' 
                    [label]='"Password"' [type]='"password"'>
                </app-text-input>
                <app-text-input [formControl]='resetPasswordForm.controls["confirmPassword"]' 
                    [label]='"Confirm Password"'
                    [type]='"password"'></app-text-input>
                 
                <div class="form-group text-center">
                    <button [disabled]='!resetPasswordForm.valid' 
                    class="btn btn-success mr-2" type="submit">Submit</button>
                </div>
            </form>
            </div>
            </div>
            </div>

