<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand text-uppercase" style="margin-left: 40px;" [routerLink]="['/']" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact:true}">Home</a>
  
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#navbarNav" 
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarSupportedContent" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav" id="navbarSupportedContent" [collapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/specialties" routerLinkActive="active" >Specialties</a> 
        </li>  
        <li class="nav-item">
          <a class="nav-link text-uppercase"  routerLink="/myportfolio" routerLinkActive="active">My Portfolio</a>  
        </li>  
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/transactions" routerLinkActive="active">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="/transactions" routerLinkActive="active">Contact</a>
        </li>
        <div class="dropdown mr-5" dropdown>
          <a class="pero nav-link text-uppercase dropdown-toggle text-white" dropdownToggle (click)="false" 
          routerLinkActive="active">Tax Liability</a>
          <div class="dropdown-menu" *dropdownMenu>    
              <a routerLink="/specialties" class="dropdown-item">
                <i class="fa fa-sign-out mr-3"></i> Specialties</a>
              <a class="dropdown-item">
                <i class="fa fa-sign-out mr-3"></i> Logout</a>
                <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                <i class="fa fa-sign-out mr-3"></i> Logout</a>
              <a class="dropdown-item">
                <i class="fa fa-sign-out mr-3"></i> Logout</a>
          </div>
        </div>
       
      </ul>
      <ng-container *ngIf="(currentUser$ | async) ===null">
        <div>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link"
              routerLink="/account/register"
              routerLinkActive="active"
              >Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
              routerLink="/account/login"
              routerLinkActive="active"
              >Login</a>
            </li>
          </ul>
        </div>
      </ng-container>
      
      <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
        <div >
        <ul class="nav navbar-nav">
          <li class="nav-item" >
            <a (click)='logout()' class="nav-link"
            routerLink="/account/login"
            routerLinkActive="active"
            >Logout</a>
          </li>  
        </ul>
      </div>
</ng-container>
     
  </div>
  </nav>