<div class="container-fluid" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-3">
            <form [formGroup]='officeForm' (ngSubmit)="officeForm.valid && onSubmit()">
                <h2 class="text-center text-primary">Edit Office</h2>
                <hr>        
                <input formControlName="id" id="id" class="form-control" hidden>          
                <app-text-input [formControl]='officeForm.controls["street"]' 
                    [label]='"Street"'></app-text-input>
                <app-text-input [formControl]='officeForm.controls["city"]' 
                    [label]='"City"'></app-text-input>
                <app-text-input [formControl]='officeForm.controls["country"]' 
                    [label]='"Country"'></app-text-input>
                <app-text-input [formControl]='officeForm.controls["initialExaminationFee"]' 
                    [label]='"Initial Examination Fee"'></app-text-input>
                <app-text-input [formControl]='officeForm.controls["followUpExaminationFee"]' 
                    [label]='"Follow Up Examination Fee"'></app-text-input>
                
                <div class="row" *ngIf="errors?.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            
                <div class="form-group text-center">
                    <button [disabled]='!officeForm.valid' class="btn btn-success mr-2" type="submit">Save</button>
                </div>
            </form>
            </div>
            </div>
            </div>

