<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container" style="margin-top: 150px;">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block mt-5">
                    <!-- pogledaj css, tamo je slika u backgroundu! -->
                    <h1 class="display-4 text-light">
                        Register as a <strong> patient </strong> and explore our features
                    </h1>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fa fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Simple registration will only take a few seconds to complete and login right away
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fa fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Find the available doctor that suits you needs close to your residence and book appointment
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fa fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Once examined, you will have the track of your medical records in one place
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fa fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            See the list of highest rated doctors and evaluate your own doctor
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fa fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Get closer look at prices and medical experience of doctors
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-5">
                   
                </div>

            </div>
        </div>
    </div>
</header>