<div class="container-fluid" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-3">
            <h2 class="text-center text-primary">Book Appointment</h2>
            <hr>    
            <div class="form-group row">
                <div class="col-md-12">           
                   <input type="text"
                   style="color: black;"
                   placeholder="Doctor: {{(appointment?.doctor)}}"
                   class="form-control"
                   readonly="readonly"                     
                  >
                 </div>       
             </div>   
            <div class="form-group row">
                <div class="col-md-12">           
                   <input type="text"
                   placeholder="Office: {{appointment?.office}}"
                   class="form-control"
                   readonly="readonly"                     
                  >
                 </div>       
             </div>   
            <div class="form-group row">
                <div class="col-md-12">           
                   <input type="text"
                   placeholder="City: {{appointment?.city}}"
                   class="form-control"
                   readonly="readonly"                     
                  >
                 </div>       
             </div>   
            <div class="form-group row">
                <div class="col-md-12">           
                   <input type="text"
                   placeholder="Country: {{appointment?.country}}"
                   class="form-control"
                   readonly="readonly"                     
                  >
                 </div>       
             </div>   
            <div class="form-group row">
                <div class="col-md-12">           
                   <input type="text"
                   placeholder="Starts: {{appointment?.startDateAndTimeOfAppointment | date:'dd.MM.yyyy HH:mm'}}"
                   class="form-control"
                   readonly="readonly"                     
                  >
                 </div>       
             </div>   
            <div class="form-group row">
                <div class="col-md-12">           
                   <input type="text"
                   placeholder="Ends: {{appointment?.endDateAndTimeOfAppointment | date:'dd.MM.yyyy HH:mm'}}"
                   class="form-control"
                   readonly="readonly"
                  >
                 </div>       
             </div> 
             <hr>  
            <form [formGroup]="fg" *ngFor="let fg of appointmentForms.controls" (submit)="recordSubmit(fg)"> 

                <input formControlName="id" id="id" class="form-control" hidden> 
                <!-- <app-date-input [formControl]='appointmentForms.controls["endDateAndTimeOfAppointment"]' 
        [label]='"Date Of Birth"'></app-date-input> -->
                <div class="form-group row">
                    <div class="col-md-12">  
                        <label style="font-size: small;"><strong>Special Remarks:</strong></label>       
                        <textarea type="text"
                        class="form-control"
                        formControlName="remarks"
                        rows="10"></textarea>
                     </div>       
                 </div>   
                 <div class="row" *ngIf="errors?.length > 0">
                    <ul class="text-danger">
                        <li *ngFor="let error of errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            
                <div class="peki form-group text-center">
                    <button [disabled]='!fg.valid' class="btn btn-success mr-2" type="submit">Save</button>
                </div>
            </form>
            </div>
            </div>
            </div>

